<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ReadStore" connectionString="data source=(localdb)\ProjectsV12; initial catalog=ReadStore; integrated security=true;" providerName="System.Data.SqlClient" />
    <add name="EventStore" connectionString="data source=(localdb)\ProjectsV12; initial catalog=EventStore; integrated security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>